MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/mediconnect-payments
PORT=3001
SERVICE_NAME=payment-service
NOTIFICATION_SERVICE_URL=http://localhost:3006
APPOINTMENT_SERVICE_URL=http://localhost:3000
CONSUL_HOST=127.0.0.1
CONSUL_PORT=8500
