MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/mediconnect-admin
PORT=3008
SERVICE_NAME=admin-service
JWT_SECRET=replace-with-a-strong-secret
JWT_EXPIRES_IN=7d
ADMIN_INVITE_CODE=replace-with-admin-invite-code
PATIENT_SERVICE_URL=http://localhost:3003
DOCTOR_SERVICE_URL=http://localhost:3004
APPOINTMENT_SERVICE_URL=http://localhost:3000
PAYMENT_SERVICE_URL=http://localhost:3001
CONSUL_HOST=127.0.0.1
CONSUL_PORT=8500
